@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fontfam-1: "Courgette", cursive;
$fontfam-2: arial;
$text-color: whitesmoke;
$option-bg-color: hsl(147deg, 50%, 13%);
$carpet-color: hsl(147deg, 50%, 23%);
$border-color: whitesmoke;

:root {
    --border-radius: 1vmin;
    --face-size: 12.5vmin;
    --duration: 2s;
    --point-size: 2.25vmin;
    --point-position: 1.75vmin;
    --current-player-color: hsl(120deg, 80%, 60%);
    --player1-color: hsl(120deg, 80%, 60%);
    --player2-color: hsl(270deg, 80%, 60%);
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.title {
    position: absolute;
    background: $carpet-color;
    top: 2.5vh;
    left: 50%;
    font-family: $fontfam-1;
    color: $text-color;
    transform: translateX(-50%);
    padding: 0 25px;
    border-radius: 50vw;
}

h1 {
    font-size: 2.5rem;
    z-index: 50;
}

h2 {
    font-size: 2.15rem;
}

.game-board {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: hsl(147deg, 50%, 23%);
    // z-index: 10;
    transition: transform 0.5s ease-out;
    display: grid;
    place-content: center;
}

.slide-content {
    position: relative;
    width: 90vw;
    height: 90vh;
    border: 1vmin solid $border-color;
    padding: 5vmin;
    border-radius: 5vmin;
    color: $text-color;

    &::after,
    &::before {
        position: absolute;
        height: 15vmin;
        width: 15vmin;
        border: 1vmin solid $carpet-color;
        background: $carpet-color;
        border-radius: 100%;
        display: grid;
        place-content: center;
        font-size: 5rem;
    }

    &::after {
        content: "♥";
        top: 0;
        left: 0;
        border-bottom: 1vmin solid $border-color;
        transform: translate(-9.5vmin, -9.5vmin) rotate(-45deg);
        //translate 50% + pseudo-element border-width + element border-width
    }

    &::before {
        content: "♣";
        bottom: 0;
        right: 0;
        border-top: 1vmin solid $border-color;
        transform: translate(9.5vmin, 9.5vmin) rotate(-45deg);
    }
}

.slide {
    position: absolute;
    inset: 0;
    height: inherit;
    font-family: $fontfam-2;
    color: $text-color;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    transition: opacity 0.25s ease-in-out;

    &:not(:first-child) {
        opacity: 0;
        display: none;
    }
}

/* ====== options ====== */

.option-container {
    // position: absolute;
    // top: 7.5vh;
    // right: 7.5vw;
    z-index: 20;
}

.option-wrapper {
    position: fixed;
    top: 5vh;
    left: 5vw;
    clip-path: circle(0 at calc(90vw - 5vmin) 5vmin);
    transition: clip-path 0.75s ease-out;
    background: $option-bg-color;
    border-radius: 5vmin;

    .title {
        background: $option-bg-color;
    }
}

#option-checkbox {
    display: none;
}

.toggle-option {
    position: absolute;
    color: $text-color;
    font-size: 2.5rem;
    right: calc(5vw + 5vmin);
    top: calc(5vh + 5vmin);
    cursor: pointer;
    display: grid;
    place-content: center;
}

#option-checkbox:checked {
    ~ .option-wrapper {
        clip-path: circle(150% at calc(90vw - 5vmin) 5vmin);
    }
}

.options {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: $fontfam-2;

    .options-title {
        text-align: center;
        height: 5vh;
        width: 50%;
        font-family: $fontfam-1;
        font-size: 2rem;
        border: 0.5vmin solid $border-color;
        border-radius: 5vmin;
    }
}

.sliders-container {
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.5rem;

    .music-container,
    .sound-container {
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .slider-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25px;
        align-items: center;

        .music-symbol, 
        .sound-symbol{
            cursor: pointer;
        }

        .slider {
            -webkit-appearance: none;
            width: 25%;
            height: 15px;
            border-radius: 999px;
            background: #d3d3d3;
            outline: none;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $carpet-color;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $carpet-color;
            cursor: pointer;
        }
    }
}

.rules {
    position: relative;
    overflow: hidden;
    height: 40vh;
    width: 85vw;

    #rules-checkbox {
        display: none;
    }

    .toggle-rules {
        position: absolute;
        cursor: pointer;
        height: 5vh;
        left: 12.5%;
        width: 75%;
        background: $option-bg-color;
        font-family: $fontfam-1;
        font-size: 2rem;
        text-align: center;
        border: 0.5vmin solid $border-color;
        border-radius: 5vmin;

        &::after,
        &::before {
            content: "▽";
        }
    }

    #rules-checkbox:checked {
        ~ .rules-wrapper {
            transform: translateY(0%);
        }

        ~ .toggle-rules::after,
        ~ .toggle-rules::before {
            content: "△";
        }
    }

    .rules-wrapper {
        position: absolute;
        transform: translateY(-100%);
        left: 12.5%;
        width: 75%;
        padding: 5.5vh 0.75vw 0 0.75vw;
        transition: transform 1s ease-out;
        line-height: 1.15;

        h3 {
            padding: 1rem 0 0.25rem 0;
        }
    }
}

.reset {
    cursor: pointer;
    width: 50%;
}

/* ====== slide 1 ====== */

.slide-1 {
    display: flex;
}

.choose-players-number {
    width: 40%;
    cursor: pointer;
    padding: 2vmin;
    border: none;
    border-radius: 1.5vmin;
    font-size: 1.5rem;
    transition: transform 0.25s ease-in-out;
    line-height: 1.75;
    color: $carpet-color;

    .fas {
        font-size: 2.5rem;
    }

    &:hover {
        transform: scale(1.05);
    }
}

/* ====== slide 2 ====== */

.players-identity {
    justify-self: center;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 25px;
    width: 90%;

    > * {
        place-self: center;
    }

    .choose-box {
        height: 10vmin;
        width: 10vmin;
        font-size: 8vmin;
        color: $text-color;
        border-radius: 2.5vmin;
        cursor: pointer;
    }

    .my-color {
        background: var(--player1-color);
    }

    .name-field {
        border-radius: 2vmin;
        border: 0.5vmin solid $border-color;
        background: hsl(0deg, 0%, 90%, 0.5);
        font-family: $fontfam-2;
        color: $text-color;
        text-align: center;
        font-size: 2rem;
        height: 5rem;
    }

    .name-field:focus {
        background: hsl(0deg, 0%, 50%, 0.75);
    }

    .submit-button {
        grid-column: 1/4;
        justify-self: center;
        margin-top: 5vmin;
    }
}

.submit-button {
    padding: 0.25rem;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    border: none;
    width: 5rem;
    height: 2.5rem;
    cursor: pointer;
    font-family: $fontfam-2;
    background: whitesmoke;
    color: $carpet-color;
}

.selection-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    transform: scale(0);
    transition: 0.25s ease-in-out;
    z-index: 20;
    backdrop-filter: blur(2.5px);
}

.avatar-container {
    .item-list {
        .item {
            background: hsl(0deg, 0%, 90%, 0.5);

            &.selected {
                background: hsl(0deg, 0%, 90%, 1);
            }

            &:hover {
                background: hsl(0deg, 0%, 90%, 1);
            }

            .fas {
                pointer-events: none;
            }
        }
    }
}

.item-list {
    width: 80vmin;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .item {
        height: 25vmin;
        width: 25vmin;
        transform: scale(0.85);
        cursor: pointer;
        border: 2px solid #999;
        display: grid;
        place-content: center;
        font-size: 17.5vmin;
        border-radius: 2.5px;
        transition: transform 0.25s ease-in-out, border-radius 0.25s ease-in-out, background-color 0.25s ease-in-out;

        &:hover {
            transform: scale(1);
            border-radius: 25px;
        }
    }

    .selected {
        transform: scale(0.95);
        border-width: 4px;
        border-radius: 25px;
    }

    .color1 {
        background: hsl(0deg, 80%, 60%);
    }

    .color2 {
        background: hsl(40deg, 80%, 60%);
    }

    .color3 {
        background: hsl(80deg, 80%, 60%);
    }

    .color4 {
        background: hsl(120deg, 80%, 60%);
    }

    .color5 {
        background: hsl(160deg, 80%, 60%);
    }

    .color6 {
        background: hsl(200deg, 80%, 60%);
    }

    .color7 {
        background: hsl(240deg, 80%, 60%);
    }

    .color8 {
        background: hsl(280deg, 80%, 60%);
    }

    .color9 {
        background: hsl(320deg, 80%, 60%);
    }
}

// .game-board {
//     position: absolute;
//     height: 100vh;
//     width: 100vw;
//     background: #000;
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
// }

/* ====== slide 3 ====== */

.slide-3 {
    grid-template: 1fr / 2fr 1fr 2fr;
}

/* === players === */

.player-container {
    height: 80vh;
    width: 25vw;
    justify-self: center;
    display: flex;
    flex-direction: column;
    color: $text-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

    &.player-1 {
        color: var(--player1-color);
    }

    &.player-2 {
        color: var(--player2-color);
    }

    .player-avatar {
        grid-area: avatar;
        width: 17.5vw;
        height: 15vw;
        border: 1vmin solid $border-color;
        border-radius: 25px;
        background: hsl(0, 0, 100, 0.1);
        align-self: center;
        display: grid;
        place-content: center;
        font-size: 10vw;
    }

    .player-informations {
        height: calc(90vh - 15vw);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: $fontfam-1;
        color: $text-color;

        .player-name {
            font-size: 2rem;
            align-self: center;
            line-height: 1.5;
        }

        .player-score-wrapper {
            line-height: 2;
        }

        .player-total {
            height: 40vh;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 5%;
            padding: 5%;
            line-height: 1.5;
            border: 2px solid green;
            border: 0.5vmin solid whitesmoke;
            border-radius: 25px;
            background: hsla(0deg, 0%, 100%, 0.1);

            .prev-score,
            .crossed {
                position: relative;
                width: fit-content;

                .tiny-score {
                    font-size: 0.75rem;
                }
            }

            .crossed {
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 3.5rem;
                    transform: translateY(10%) rotate(-10deg);
                    border-top: 3px solid white;
                }
            }
        }
    }
}

/* === dice === */

.board-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dice-container {
    position: relative;
    width: var(--face-size);
    aspect-ratio: 1;
    cursor: pointer;
}

.padlock {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--face-size);
    aspect-ratio: 1;
    opacity: 0;
    border-radius: var(--border-radius);
    background: var(--current-player-color);
    transition: opacity 0.25s ease-in-out;
}

.locked ~ .padlock {
    opacity: 0.6;

    &::after {
        content: "🔒";
        position: absolute;
        top: 0.5vmin;
        left: 0.5vmin;
        font-size: 1.5vmin;
        transform: rotate(-15deg);
    }
}

.dice {
    position: relative;
    width: var(--face-size);
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: 50% 50% calc(var(--face-size) * -0.5);
    transform: rotateX(180deg) rotateY(180deg);
    transition: transform var(--duration) ease-in-out;
}

.face {
    position: absolute;
    background: radial-gradient(circle at center, #eee, #ccc);
    width: var(--face-size);
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    transform: rotateX(0deg) rotateY(180deg);
    transform-origin: 50% 50% calc(var(--face-size) * -0.5);
    /*backface-visibility: hidden;*/
}

.face:nth-child(1) {
    transform: rotateY(0deg);
}

.face:nth-child(2) {
    transform: rotateY(90deg);
}

.face:nth-child(3) {
    transform: rotateY(180deg);
}

.face:nth-child(4) {
    transform: rotateY(270deg);
}

.face:nth-child(5) {
    transform: rotateX(90deg);
}

.face:nth-child(6) {
    transform: rotateX(270deg);
}

.point {
    position: absolute;
    width: var(--point-size);
    aspect-ratio: 1;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
    background: #444;
    box-shadow: inset 5px 0 10px #222;
}

.point-top {
    top: var(--point-position);
}

.point-middle {
    top: calc(calc(var(--face-size) - var(--point-size)) / 2);
}

.point-bottom {
    bottom: var(--point-position);
}

.point-left {
    left: var(--point-position);
}

.point-center {
    left: calc(calc(var(--face-size) - var(--point-size)) / 2);
}

.point-right {
    right: var(--point-position);
}

.roll-btn {
    padding: 1vmin;
    border: none;
    border-radius: 1vmin;
    cursor: pointer;
}

.score-container {
    font-size: 4vmin;
    font-family: $fontfam-2;

    .score {
        color: var(--current-player-color);
    }
}

.message-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    color: $text-color;
    font-size: 3.5rem;
    font-family: $fontfam-2;
    background: hsl(0, 0, 0, 0.125);
    backdrop-filter: blur(12.5px);
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 50;

    .presenter {
        width: min(50vh, 75vw);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 15rem;
    }

    .bubble {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: max(50vh, calc(100vh - 75vw));
        background: $text-color;
        color: $carpet-color;
        border-radius: 25px;
        margin: 5vmin;
        padding: 2.5vmin;

        &::after {
            content: "";
            position: absolute;
            left: 3vmax;
            bottom: -3vmax;
            border-top: 3vmax solid $text-color;
            border-left: 2vmax solid transparent;
        }

        .submit-button {
            background: $carpet-color;
            color: $text-color;
        }
    }
}
